@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    /* Adjust duration (20s) to make it faster or slower */
    animation: scroll 20s linear infinite;
  }
